<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>shop</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% post_images.each do |post_image| %>
      <tr>
        <td><%= link_to(post_image.user) do %>
          <% end %>
        </td>
        <td><%= link_to post_image.shop_name,post_image, class: "post_image_#{post_image.id}" %></td>
        <td><%= post_image.body %></td>
        <!--<td class=</%= "favorite-" + book.id.to_s %> >
            </%= render "favorites/btn", book: book %>
        </td>
        <td></%= render "book_comments/counter", book: book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
